* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

button {
    cursor: pointer;
}

.splash-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #00a4ff75;
    display: flex;
    justify-content: center;
    align-items: center;

}

.game-over {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: #000000c0;
    display: none;
    justify-content: center;
    align-items: center;

}


.game-over span {
    color: red;
    font-size: 100px;
    font-weight: bold;
}




.win {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: #ffffffc0;
    display: none;
    justify-content: center;
    align-items: center;

}

.win span {
    color: rgb(7, 197, 0);
    font-size: 100px;
    font-weight: bold;
}

.display-flex {
    display: flex;
}

.display-non {
    display: none;
}

.splash-screen .start-button {
    width: 200px;
    height: 50px;
    font-size: 25px;
    left: 100%;
    position: relative;
    font-weight: bold;
    background-color: #f44;
    color: white;
    animation: move 1s forwards;
    z-index: 5;
}

@keyframes move {
    to {
        left: 0;
    }
}

.Player-name {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 2;
    padding: 200px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.name-player {
    font-size: 17px;
    text-transform: capitalize;
}

.no-click {
    pointer-events: none;
}

.Player-name input {
    width: 100px;
    height: 30px;
    font-size: 12px;
    padding: 5px;
    position: relative;
    left: -100%;

}

@keyframes move-from-left {
    to {
        left: 0
    }
}

.anmtion-for-input {
    animation: move-from-left 1s forwards;
}

.Player-name input::placeholder {
    font-size: 13px;
    color: black;
    font-weight: bold;
}

.Player-name button {
    width: 60px;
    height: 30px;
    font-weight: bold;
    background-color: #f44;
    color: white;
    font-size: 16px;
    padding: 5px 5px;
    right: -100%;
    position: relative;

}

.left {
    left: 100px;

}



.anmtion-for-button {
    animation: move-from-right 1s forwards;
}

@keyframes move-from-right {
    to {
        right: 0;
    }
}

.contanier {
    width: 700px;
    min-height: 90vh;
    height: 100vh;
    margin: auto;


}


.contanier .info {
    width: 100%;
    height: 50px;
    padding: 0 10px;
    border: 5px double rgb(255, 196, 3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    line-height: 1;
    backdrop-filter: blur(10px);
}

.info {
    border: 5px double rgb(3, 247, 255);


}

.contanier .blocks {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    gap: 10px;
    perspective: 1000px;
    padding: 10px 70px;
    backdrop-filter: blur(10px);

}

.contanier .blocks.three {
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
}

.contanier .blocks.three .box {
    height: 90px;
}

.contanier .blocks.three .box .front::before {
    line-height: 90px;
}

.contanier .blocks.four {
    grid-template-columns: repeat(auto-fill, minmax(75px, 1fr));
}

.contanier .blocks.four .box {
    height: 75px;
}

.contanier .blocks.four .box .front::before {
    line-height: 75px;
    font-size: 60px;
}

.contanier .blocks .box {
    height: 120px;
    transition: transform .5s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;


}



.contanier .blocks .box .back {
    transform: rotateY(180deg);
    background-color: black;

}

.contanier .blocks .box .front::before {
    content: "!";
    color: rgb(223, 219, 212);
    font-size: 80px;
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 120px;
}

.contanier .blocks .box .front,
.contanier .blocks .box .back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 2px solid rgb(255, 0, 179);
    width: 100%;
    height: 100%;

}

.level-two,
.level-three,
.level-four {
    color: green;
    padding: 5px;
    width: 100px;
    border-radius: 10px 50px;

}

a {
    text-decoration: none;
    color: #f44;
    font-size: 15px;
    font-weight: bold;
}

.flip,
.match {
    transform: rotateY(180deg);
    pointer-events: none;
}


.contanier .blocks .box img {
    width: 100%;
    height: 100%;
}

.reset {
    margin-top: 25px;
    padding: 5px;
    width: 90px;
    border-radius: 10px 50px;

}

.contanier {
    background-image: url(/image/12.jpg);
    background-size: cover;
    background-position: center;


}

@media (max-width:600px) {
    .contanier {
        width: 100%;
        height: 100%;
        margin: 10px auto;
    }

    .contanier .blocks {
        margin: 10px 10px 0;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
        gap: 5px;
        perspective: 1000px;

    }

    .contanier .blocks .box {
        height: 90px;
    }

    .contanier .blocks .box .front::before {
        font-size: 80px;
        line-height: 90px;
    }

    .contanier .blocks.two {
        grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    }

    .contanier .blocks.two .box {
        height: 80px;
    }

    .contanier .blocks.two .box .front::before {
        line-height: 80px;
    }

    .contanier .blocks.three {
        grid-template-columns: repeat(auto-fill, minmax(50px, 1fr));
    }

    .contanier .blocks.three .box {
        height: 70px;
    }

    .contanier .blocks.three .box .front::before {
        line-height: 70px;
        font-size: 60px;
    }

    .contanier .blocks.four {
        grid-template-columns: repeat(auto-fill, minmax(48px, 1fr));
    }

    .contanier .blocks.four .box {
        height: 60px;
    }

    .contanier .blocks.four .box .front::before {
        line-height: 60px;
        font-size: 55px;
    }

    .Player-name {
        left: -50px
    }

    .Player-name button {

        right: -500px;


    }

    .Player-name input {

        left: -500px;

    }

    .level-two,
    .level-three,
    .level-four {
        position: relative;
        top: 6px;
        order: 3;
    }

    .left {
        left: 50px;

    }

    .reset {
        width: 80px;
        position: relative;
        top: -5px;
        order: 1;
    }


    .win span,
    .game-over span {
        font-size: 40px;
        margin-left: 3px;
        margin-top: 10px;

    }

    .win span {
        order: 2;
    }

    .contanier .blocks {
        padding: 5px;
    }
}

.plus,
.plus-five {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    color: red;
    top: 10px;
    right: 2px;
    opacity: 0;
    transform: scale(1);
    transition: 1s;
    font-size: 10px;
}

.plus-five {
    left: 50%;
    top: 10px;
    color: rgba(0, 0, 255, 0.712);
    font-size: 15px;
}

.animatinPlus {
    animation: plusOne 1s backwards;
}

@keyframes plusOne {
    to {
        opacity: .7;
        top: -5px;
        transform: scale(1.5);
    }

}